@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --right-bg-color: #ffabb9;
  --left-bg-color: #b13cff;
}

html {
  background-color: #00025e;
}

body {
  height: 100%;
  width: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    90deg,
    var(--left-bg-color) 50%,
    var(--right-bg-color) 50%
  );
}

h1 {
  font-size: 6rem;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    var(--right-bg-color) 50%,
    var(--left-bg-color) 50%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 2.875rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.05rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
